#testedashboard {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: calc(100vh - 10px);
}

#olauser {
  grid-column: 2 / span 4;
  grid-row: 1 / span 1;
  width: fit-content;

}

#hoje {
  grid-column: 2/ span 6;
  grid-row: 2/ span 1;
  width: fit-content;

}

#PlanoHoje {
  grid-column: 2 / span 10;
  grid-row: 5 / span 1;
  width: fit-content;
  margin-bottom: 15%;
}

#refeicao {
  grid-column: 2 / span 10;
  grid-row: 6 / span 1;
  width: fit-content;
}



.my-container {
  all: unset;
  display: flex;
  grid-column: 2 / span 10;
  grid-row: 3 / span 1;
}

.my-day-circle-container {
  all: unset;
  background: #FFBFA2;
  border-radius: 5px;
  width: 10%;
  padding: 2%;
}

.my-prev-week-arrow {}

.my-next-week-arrow {}

.my-day-box {
  all: unset;
  /* padding: 2%; */
  display: flex;
  gap: 2%;
  margin-left: 3%;
  /* width: 95vw; */
  justify-content: center;
}

.my-day-circle {
  all: unset;
  background: #FFBFA2;
}

.my-day-circle-container:first-of-type {
  background: #DE581B;
}

.my-day-circle-today-text {
  display: none;
}

.my-day-circle-unavailable {}

.my-day-circle-unavailable-text {}

.my-day-circle-selected {
  background-color: #61dafb;
}

#CardPlano {
  gap: 10%;
  border-radius: 6px;
  grid-column: 2 / span 10;
  grid-row: 7 / span 1;
}

#card {
  display: flex;
  width: 100%;
  border-radius: 6px;
 background: #F8D6C7; 
  margin-bottom: 15%;
  text-align: left;

}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.meal-time {
  position: relative;
  top: -20%;
}

.meal-info {
  display: flex;
  flex-direction: column;
}

.meal-details {
  position: relative;
  left: 40%;
  width: fit-content;
  max-width: 50%;
}

#NomeMeal {}

#NamePill {}

#ContainerHome {}

img{
  width: 20%;
  background: rgba(255, 255, 255, 0.3);
  padding: 4%;
  border-radius: 5px;
}